body{
    background-color: #0b1f40;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 5px;
}

.header {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 5px;
}

h4 {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.card {
    margin: 0;
    margin-top: 10px;
    border-radius: 0;
    padding: 0px;
    border: 0px;
}

.dev {
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-top: solid 1px black;
    background-color: darkgray;
    height: 50px;
}

.card-header{
    text-align: center;
    padding: 10px;
}

.card-body{
    padding: 0;
    margin-bottom: 5px;
}

.empty{
    background-color: white;
}

#currentDate {
    text-align: center;
}

.card-title {
    text-align: center;
}

.modal {
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
}

.modal-body {
    background-color: #0b1f40;
}

.textBox {
    margin-bottom: 10px;
}

.signInBtn {
    width: 100%;
    background-color: #0b1f40;
    border-color: #0b1f40;
}

.signInBtn:hover {
    background-color: #204073;
}

#logOutBtn {
    margin-left: 5px;
}

.form-group label {
    color: white;
}

.form-group {
    margin-bottom: 8px;
}

.dropright {
    margin-bottom: 15px;
}

.createAcc {
    margin-top: 20px;
}